<!doctype html>
<html>

<head>
    <title>Circle Of Warriors</title>
    <!-- Tailwind Styling  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png"
        href="https://cdn2.iconfinder.com/data/icons/medicine-22/64/medical_breast_cancer-512.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>

    <div class="nav-bar">
        <nav
            class="bg-white dark:bg-gray-900 fixed w-full z-20  top-0 start-0 border-b border-gray-200 dark:border-gray-600 mb-2">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pl-4 pr-4">
                <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="/imgs/site-logo.svg" class="h-20" alt="Warrior Logo">
                </a>
                <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                    <a href="/login"
                        class="inline-flex justify-center items-center py-3 px-4 text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm ">
                        <%=translation.LOG_IN_BUTTON%>
                    </a>
                </div>

            </div>
        </nav>
    </div>

    <div class="landing-page">
        <section class="jumbotron-img bg-center bg-no-repeat bg-gray-700 bg-blend-multiply">
            <div class=" px-4 mx-auto text-center">
                <div class="">

                    <div class="text-center">
                        <!--using ejs for selecting options dynamically , if the variable of lang is 'en' then select this option vice versa when slecting 'es' which is set by the server -->
                        <label for=id="lang" class="block mb-8 text-base font-medium text-white dark:text-white">Elige
                            tu
                            idioma/ Choose your
                            language</label>
                        <select id="lang"
                            class="block w-52 mx-auto px-4 py-3 text-base text-gray-700 border border-gray-300 rounded-lg bg-gray-50 focus:ring-purple-500 focus:border-purple-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-500 dark:focus:border-purple-500">
                            <option value="en" <%=lang==='en' ? 'selected' : '' %>>English</option>
                            <option value="es" <%=lang==='es' ? 'selected' : '' %>>Spanish</option>
                        </select>
                    </div>

                </div>
                <div class="flex justify-center">
                    <img src="/imgs/site-logo.svg" alt="logo">
                </div>

                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
                    <%=translation.WELCOME_MSG_ONE%><br>
                        <%=translation.WELCOME_MSG_TWO%>
                </h1>





                <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
                    <%=translation.SUB_HEADER%>
                </p>
                <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
                    <a href="/login"
                        class=" mr-8 inline-flex justify-center items-center py-3 px-4 text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm ">
                        <%=translation.LOG_IN_BUTTON%>

                    </a>
                    <a href="/signup"
                        class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                        <%=translation.SIGN_UP_BUTTON%>
                    </a>
                </div>
            </div>
        </section>
    </div>

    <div class="mission">
        <section class="bg-white dark:bg-gray-900 p-4">
            <div class="gap-16 items-center py-8 px-8 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
                <div class="font-light text-gray-700 sm:text-lg dark:text-gray-400">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-purple-900 dark:text-white">
                        <%=translation.MISSION%>
                    </h2>
                    <p class="mb-4">
                        <%=translation.MISSION_DESCRIPTION%>
                    </p>
                    <p>
                        <%=translation.MISSION_DESCRIPTION_TWO%>
                    </p>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-8">
                    <img class="w-full rounded-lg" src="imgs/main-pic-three.png" alt="group survivors">
                    <img class="mt-4 w-full lg:mt-10 rounded-lg" src="imgs/main-pic-two.png" alt="survivor">
                </div>
            </div>
        </section>
    </div>

    <div class="features p-8 mt-8 bg-purple-50">
        <section class="bg-purple-50  dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto text-gray-600 max-w-screen-xl sm:py-16 lg:px-6">
                <div class="max-w-screen-md mb-8 lg:mb-16">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-700 dark:text-white">
                        <%=translation.FEATURE_TITLE%>
                    </h2>
                    <p class="text-gray-500 sm:text-xl dark:text-gray-400"> <%=translation.FEATURE_SUBTITLE%></p>
                </div>
                <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
                    <div>

                        <div
                            class="flex justify-center items-center mb-4 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900 text-2xl ">
                            <i class="fas fa-chart-area" style="color: #562c80;"></i>
                        </div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">
                            <%=translation.FEATURE_VISUALIZATION%>
                        </h3>
                        <p class="text-gray-500 dark:text-gray-400">
                            <%=translation.FEATURE_VISUALIZATION_DESCRIPTION%>
                        </p>
                    </div>
                    <div>
                        <div
                            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900 text-2xl">
                            <i class="fas fa-bullseye" style="color: #562c80;"></i>
                        </div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">
                            <%=translation.FEATURE_PERSONALIZED%>
                        </h3>
                        <p class="text-gray-500 dark:text-gray-400">
                            <%=translation.FEATURE_PERSONALIZED_DESCRIPTION%>
                        </p>
                    </div>
                    <div>
                        <div
                            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900 text-2xl">
                            <i class="fas fa-heartbeat" style="color: #552c80;"></i>
                        </div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">
                            <%=translation.FEATURE_HEALTH%>
                        </h3>
                        <p class="text-gray-500 dark:text-gray-400">
                            <%=translation.FEATURE_HEALTH_DESCRIPTION%>
                        </p>
                    </div>
                    <div>
                        <div
                            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900 text-2xl">
                            <i class="fas fa-people-carry" style="color: #552c80;"></i>
                        </div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">
                            <%=translation.FEATURE_COMMUNITY%>
                        </h3>
                        <p class="text-gray-500 dark:text-gray-400">
                            <%=translation.FEATURE_COMMUNITY_DESCRIPTION%>
                        </p>
                    </div>
                    <div>
                        <div
                            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900 text-2xl">
                            <i class="fas fa-globe-africa" style="color: #552c80;"></i>
                        </div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">
                            <%=translation.FEATURE_BILINGUAL%>
                        </h3>
                        <p class="text-gray-500 dark:text-gray-400">
                            <%=translation.FEATURE_BILINGUAL_DESCRIPTION%>
                        </p>
                    </div>
                    <div>
                        <div
                            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900 text-2xl">
                            <i class="fas fa-fingerprint" style="color: #552c80;"></i>
                        </div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">
                            <%=translation.FEATURE_PRIVACY%>
                        </h3>
                        <p class="text-gray-500 dark:text-gray-400">
                            <%=translation.FEATURE_PRIVACY_DESCRIPTION%>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="team px-8">
        <section class="bg-white dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
                <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-700 dark:text-white">
                        <%=translation.TEAM%>
                    </h2>
                    <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400"><%=translation.TEAM_DESCRIPTION%></p>
                </div>
                <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
                    <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700 ">
                        <a href="#">
                            <img class="h-full rounded-lg sm:rounded-none sm:rounded-l-lg"
                                src="https://media.licdn.com/dms/image/C4D03AQGl5jZKxyfQQw/profile-displayphoto-shrink_400_400/0/1591502525928?e=1706140800&v=beta&t=2Xb9sAhR_rymgIpJMU6ZlxREAvqkMfNWD6N77kpafJ4"
                                alt="team member">
                        </a>
                        <div class="p-5">
                            <h3 class="text-xl font-bold tracking-tight text-gray-700 dark:text-white">
                                <a href="#">Erik Solis</a>
                            </h3>
                            <span class="text-gray-500 dark:text-gray-400">
                                <%=translation.ENGINEER%>
                            </span> 
                            <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400"><%=translation.TEAM_MEMBER_ONE%></p>
                            <ul class="flex space-x-4 sm:mt-0">
                                <li>
                                    <a href="https://github.com/socratic617" class="text-gray-500 hover:text-gray-900 dark:hover:text-white text-2xl ">
                                        <i class="fab fa-github" style="color: #562c80;"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/erik-solis/" class="text-gray-500 hover:text-gray-900 dark:hover:text-white text-2xl">
                                        <i class="fab fa-linkedin" style="color: #562c94;"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://portfolio-erik-solis.netlify.app/" class="text-gray-500 hover:text-gray-900 dark:hover:text-white text-2xl">
                                        <i class="fas fa-globe" style="color: #582c94;"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://calendly.com/erik-solis02135" class="text-gray-500 hover:text-gray-900 dark:hover:text-white text-2xl">
                                        <i class="far fa-calendar-alt" style="color: #582c94;"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <div class="footer p-4">
        <section>
            <footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
                <div class="mx-auto max-w-screen-xl text-center">
                    <a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white ">
                        <img src="/imgs/site-logo.svg" class="h-20 mr-4" alt="Warrior Logo">
        
                        <%=translation.TITLE%>
                    </a>
                    <p class="my-6 text-gray-500 dark:text-gray-400">
                        <%=translation.FOOTER_DESCRIPTION%>
                    </p>
                    <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
                        <li>
                            <a href="https://portfolio-erik-solis.netlify.app/" class="mr-4 hover:underline md:mr-6 ">About</a>
                        </li>
                        <li>
                            <a href="https://calendly.com/erik-solis02135" class="mr-4 hover:underline md:mr-6">Contact Us</a>
                        </li>
                    </ul>
                    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023-2024 <a href="#"
                            class="hover:underline">Circle of Warriors™</a>. <%=translation.RIGHTS%>.</span>
                </div>
            </footer>
        </section>
    </div>


    <!-- Tailwind Styling  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
    <script src="language.js"></script>
</body>

</html>